@import '../../core//styles/mixins.scss';

.form-wrapper{
    width: 100%;
     display: flex;
    flex-direction: column;
    gap: 17px 16px;
    box-sizing: border-box;
    .form-inline-row{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 17px 16px;
        @include medium {
            flex-direction: row;

        }
    }

    input,textarea{
        width: 100%;
        border-radius: 5px;
        border: none;
        padding: 14px 20px 15px 20px;
        box-sizing: border-box;
        outline: none;
        ::placeholder{
            font-family: 'Montserrat';
            font-size: 13px;
            color: #999999;
        }
    }
    textarea{
        min-height: 200px;
        box-sizing: border-box;
    }
}